<!--======= INTRO  SECTION  -->

<section class="inner-intro bg-7 bg-overlay-black-70">
  <div class="container">
    <div class="row text-center intro-title">
      <div class="col-lg-6 col-md-6 text-left">
        <h1 class="text-white">Faq</h1>
      </div>
      <div class="col-lg-6 col-md-6 text-right">
        <ul class="page-breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i> Home</a>
            <i class="fa fa-angle-double-right"></i>
          </li>
          <li>
            <a href="#">pages</a>
            <i class="fa fa-angle-double-right"></i>
          </li>
          <li>
            <span>FAQ</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--======= INTRO  SECTION  -->

